<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
      .submit-btn{
        background-color: rgb(241, 65, 65);
        color: aliceblue;
      }
  </style>
</head>
<body>

<div class="jumbotron text-center">
  <h1>MMA (Meeting Minutes Assistant)</h1>
  <p>Get summary and the topics discussed in your meeting.</p>
</div>
  
<div class="container">
    <h4>Upload .wav or .mp3 file</h4> 
    <div class="d-flex">
        <form action="{{ url_for('getAudio') }}" method="POST" enctype="multipart/form-data">
            <input type="file" id="audio_file" name="audio_file">
            <br>
            <input class="submit-btn" type="submit" background-color: #4CAF50>
          </form>
    </div>
</div>

</body>
</html>
